<!--<p>categorydetails works!</p>-->
<div *ngIf ="productdetails.category==category" class="card h-100">
    <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
    <div class="card-body">
      <h4 class="card-title">
        <a  [routerLink]="['../../product/',productdetails.id]">{{productdetails.name}}</a>
      </h4>
     <!-- <h5>{{productdetails.price}}</h5>
      <p  class="card-text">{{productdetails.description}}</p>-->
    </div>
    <div class="card-footer">
      <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
    </div>
  </div>
