<!--<h2>Hello {{ title }}</h2>
<h3>My Name is Shivani Jain</h3>

Component Directives -->

<div class="container mb-5 mt-5">
  <div class="pricing card-deck flex-column flex-md-row mb-3">
<app-home></app-home>
<app-starter></app-starter>
<app-professional></app-professional>
<app-business></app-business>
<app-enterprise></app-enterprise>
</div>
</div>

<!-- Attribute Directives 
<div [ngClass]="{'boxColor':canChangeColor,'boxColor2':!canChangeColor}">Hello World</div>
-->
<!-- Structural Directives 
<div *ngIf="canChangeColor ==true">
This is red
</div>-->
